option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "score.settings"
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
    PORT: "8000"
    PYTHONUNBUFFERED: "1"

    # These should be defined in the AWS EB Console directly, NOT here
    # SECRET_KEY: "your-secret"
    # DATABASE_URL: "your-db-url"
    # etc.

  aws:elasticbeanstalk:container:docker:
    # Ensure EB uses this port to monitor health
    Port: "8000"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;

container_commands:
  01_migrate:
    command: "poetry run python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "poetry run python manage.py collectstatic --noinput"
    leader_only: true
