option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "score.settings"
    DEBUG: "False"
    ALLOWED_HOSTS: "*"
    PORT: "8000"
    PYTHONUNBUFFERED: "1"

    # These should 

  aws:elasticbeanstalk:container:docker:
    # Ensure EB uses this port to monitor health
    ComposeEnvFile: ".env"
    ComposeDockerfile: "backend/Dockerfile"
    Port: "8000"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic

files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;

commands:
  01_migrate:
    command: |
      if [ "$RUN_MIGRATIONS" = "true" ]; then
        echo "Running migrations..."
        poetry run python manage.py migrate --noinput
      else
        echo "Skipping migrations."
      fi
